<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
        title="oEmbed Form">
    <meta property="og:title" content="Protocolar">
    <meta property="og:url" content="https://form.jotform.com/231488444464665">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <script>
        var favicon = document.querySelector('link[rel="shortcut icon"]');
        window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (favicon && window.isDarkMode) {
            favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
        }
    </script>
    <link rel="canonical" href="https://form.jotform.com/231488444464665" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Protocolar</title>
    <style type="text/css">
        @media print {
            .form-section {
                display: inline !important
            }

            .form-pagebreak {
                display: none !important
            }

            .form-section-closed {
                height: auto !important
            }

            .page-section {
                position: initial !important
            }
        }
    </style>
    <link type="text/css" rel="stylesheet"
        href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42692&themeRevisionID=63763808623532087895e4de" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42692" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42692" />
    <style src="./css/styles.css" type="text/css" id="form-designer-style"></style>

    <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42692" type="text/javascript"></script>
    <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42692" type="text/javascript"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42692" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42692"
        type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42692"
        type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42692" type="text/javascript"></script>
    <script scr="./js/scripts/script.js" type="text/javascript"></script>
</head>

<body>
    <ul class="form-section page-section">
        <li class="form-line" data-type="control_radio" id="id_110">
            <label class="form-label form-label-top form-label-auto" id="label_110" for="input_110"> </label>
            <div id="cid_110" class="form-input-wide" data-layout="full">
                <div class="form-single-column" role="group" aria-labelledby="label_110" data-component="radio"><span
                        class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                        <input type="radio"
                            aria-describedby="label_110" class="form-radio" id="input_110_0" name="q110_insiraUma"
                            value="Setor" />
                            <label id="label_input_110_0" for="input_110_0">Setor</label>
                        </span>
                </div>
                <div id="cid_111" class="form-input-wide" data-layout="half"> <select class="form-dropdown"
                        id="input_111" name="q111_insiraUma111" style="width:310px" data-component="dropdown"
                        aria-label="">
                        <option value="">Favor selecionar</option>
                        <option value="000 - SETOR 1">000 - SETOR 1</option>
                        <option value="000 - SETOR 2">000 - SETOR 2</option>
                        <option value="000 - SETOR 3">000 - SETOR 3</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="form-line" data-type="control_textbox" id="id_112"><label
                class="form-label form-label-top form-label-auto" id="label_112" for="input_112"> </label>
                <div class="form-single-column" role="group" aria-labelledby="label_110" data-component="radio"><span
                    class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                    <input type="radio"
                        aria-describedby="label_110" class="form-radio" id="input_110_1" name="q110_insiraUma" />
                        <label id="label_input_110_1" for="input_110_1">Email</label>
                    </span>
            </div>
            <div id="cid_112" class="form-input-wide" data-layout="half"> <input type="text" id="input_112"
                    name="q112_insiraUma112" data-type="input-textbox" class="form-textbox" data-defaultvalue=""
                    style="width:310px" size="310" value="" placeholder="email@email.com" data-component="textbox"
                    aria-labelledby="label_112" /> </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_105">
            <div id="cid_105" class="form-input-wide" data-layout="full">
                <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                    <button id="input_105" type="submit"
                        class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                        data-component="button" data-content="">Enviar</button></div>
            </div>
        </li>
    </ul>
</body>