<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
        title="oEmbed Form">
    <meta property="og:title" content="Protocolar">
    <meta property="og:url" content="https://form.jotform.com/231488444464665">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <script>
        var favicon = document.querySelector('link[rel="shortcut icon"]');
        window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (favicon && window.isDarkMode) {
            favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
        }
    </script>
    <link rel="canonical" href="https://form.jotform.com/231488444464665" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Protocolar</title>
    <style type="text/css">
        @media print {
            .form-section {
                display: inline !important
            }

            .form-pagebreak {
                display: none !important
            }

            .form-section-closed {
                height: auto !important
            }

            .page-section {
                position: initial !important
            }
        }
    </style>
    <link type="text/css" rel="stylesheet"
        href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42692&themeRevisionID=63763808623532087895e4de" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42692" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42692" />
    <style src="./../css/styles.css" type="text/css" id="form-designer-style"></style>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42692" type="text/javascript"></script>
    <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42692" type="text/javascript"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42692" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42692"
        type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42692"
        type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42692" type="text/javascript"></script>
    <script scr="./../js/scripts/script.js" type="text/javascript"></script>
</head>

<body>
    <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
            <div class="form-header-group  header-large">
                <div class="header-text httal htvam">
                    <h1 id="header_1" class="form-header" data-component="header">Cadastro do Estudante</h1>
                    <div id="subHeader_1" class="form-subHeader">Preencha os campos para poder realizar o Cadastro</div>
                </div>
            </div>
        </li>
        <li class="form-line jf-required" data-type="control_fullname" id="id_53"><label
                class="form-label form-label-top form-label-auto" id="label_53" for="first_53"> Nome<span
                    class="form-required">*</span> </label>
            <div id="cid_53" class="form-input-wide jf-required" data-layout="full">
                <div data-wrapper-react="true">
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                        <input type="text" id="first_53" name="q53_nome[first]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_53 given-name" size="10" value="" data-component="first"
                            aria-labelledby="label_53 sublabel_53_first" required="" />
                            <label class="form-sub-label"
                            for="first_53" id="sublabel_53_first" style="min-height:13px"
                            aria-hidden="false">Nome</label></span>
                    <span class="form-sub-label-container"
                        style="vertical-align:top" data-input-type="last">
                        <input type="text" id="last_53"
                            name="q53_nome[last]" class="form-textbox validate[required]" data-defaultvalue=""
                            autoComplete="section-input_53 family-name" size="15" value="" data-component="last"
                            aria-labelledby="label_53 sublabel_53_last" required="" />
                        <label class="form-sub-label"
                            for="last_53" id="sublabel_53_last" style="min-height:13px"
                            aria-hidden="false">Sobrenome</label>
                    </span>
                </div>
            </div>
        </li>
        <li class="form-line jf-required" data-type="control_email" id="id_6"><label class="form-label form-label-top"
                id="label_6" for="input_6"> Email<span class="form-required">*</span> </label>
            <div id="cid_6" class="form-input-wide jf-required" data-layout="half"> <span
                    class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_6"
                        name="q6_studentEmail6" class="form-textbox validate[required, Email]" data-defaultvalue=""
                        style="width:310px" size="310" value="" placeholder="ex: myname@example.com"
                        data-component="email" aria-labelledby="label_6 sublabel_input_6" required="" /><label
                        class="form-sub-label" for="input_6" id="sublabel_input_6" style="min-height:13px"
                        aria-hidden="false">exemplo@exemplo.com</label></span>
            </div>
        </li>
        <li class="form-line jf-required" data-type="control_textbox" id="id_57"><label
                class="form-label form-label-top" id="label_57" for="input_57"> Matrícula<span
                    class="form-required">*</span> </label>
            <div id="cid_57" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_57"
                    name="q57_matricula" data-type="input-textbox" class="form-textbox validate[required]"
                    data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox"
                    aria-labelledby="label_57" required="" /> </div>
        </li>
        <li class="form-line form-line-column form-col-1 jf-required" data-type="control_birthdate" id="id_24"><label
                class="form-label form-label-top" id="label_24" for="input_24"> Data de Nascimento<span
                    class="form-required">*</span> </label>
            <div id="cid_24" class="form-input-wide jf-required" data-layout="full">
                <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"><select
                            name="q24_birthDate24[day]" id="input_24_day" class="form-dropdown validate[required]"
                            data-component="birthdate-day" aria-labelledby="label_24 sublabel_24_day">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select><label class="form-sub-label" for="input_24_day" id="sublabel_24_day"
                            style="min-height:13px" aria-hidden="false">Dia</label></span><span
                        class="form-sub-label-container" style="vertical-align:top"><select
                            name="q24_birthDate24[month]" id="input_24_month" class="form-dropdown validate[required]"
                            data-component="birthdate-month" aria-labelledby="label_24 sublabel_24_month">
                            <option></option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select><label class="form-sub-label" for="input_24_month" id="sublabel_24_month"
                            style="min-height:13px" aria-hidden="false">Mês</label></span><span
                        class="form-sub-label-container" style="vertical-align:top"><select name="q24_birthDate24[year]"
                            id="input_24_year" class="form-dropdown validate[required]" data-component="birthdate-year"
                            aria-labelledby="label_24 sublabel_24_year">
                            <option></option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1947">1947</option>
                            <option value="1946">1946</option>
                            <option value="1945">1945</option>
                            <option value="1944">1944</option>
                            <option value="1943">1943</option>
                            <option value="1942">1942</option>
                            <option value="1941">1941</option>
                            <option value="1940">1940</option>
                            <option value="1939">1939</option>
                            <option value="1938">1938</option>
                            <option value="1937">1937</option>
                            <option value="1936">1936</option>
                            <option value="1935">1935</option>
                            <option value="1934">1934</option>
                            <option value="1933">1933</option>
                            <option value="1932">1932</option>
                            <option value="1931">1931</option>
                            <option value="1930">1930</option>
                            <option value="1929">1929</option>
                            <option value="1928">1928</option>
                            <option value="1927">1927</option>
                            <option value="1926">1926</option>
                            <option value="1925">1925</option>
                            <option value="1924">1924</option>
                            <option value="1923">1923</option>
                            <option value="1922">1922</option>
                            <option value="1921">1921</option>
                            <option value="1920">1920</option>
                        </select><label class="form-sub-label" for="input_24_year" id="sublabel_24_year"
                            style="min-height:13px" aria-hidden="false">Ano</label></span></div>
            </div>
        </li>
        <li class="form-line form-line-column form-col-2 jf-required" data-type="control_phone" id="id_25"><label
                class="form-label form-label-top" id="label_25" for="input_25_full"> Numero de Telefone<span
                    class="form-required">*</span> </label>
            <div id="cid_25" class="form-input-wide jf-required" data-layout="half"> <span
                    class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_25_full"
                        name="q25_phoneNumber25[full]" data-type="mask-number"
                        class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue=""
                        autoComplete="section-input_25 tel" style="width:310px" data-masked="true" value=""
                        placeholder="(00) 0 0000-0000" data-component="phone" aria-labelledby="label_25"
                        required="" /></span>
            </div>
        </li>
        <li class="form-line form-line-column form-col-3 jf-required" data-type="control_dropdown" id="id_46"><label
                class="form-label form-label-top" id="label_46" for="input_46"> Curso<span
                    class="form-required">*</span>
            </label>
            <div id="cid_46" class="form-input-wide jf-required" data-layout="half"> <select
                    class="form-dropdown validate[required]" id="input_46" name="q46_curso" style="width:310px"
                    data-component="dropdown" required="" aria-label="Curso">
                    <option value="">Please Select</option>
                    <option value="Téc. Int. Agropecuária">Téc. Int. Agropecuária</option>
                    <option value="Téc. Int. Informática">Téc. Int. Informática</option>
                    <option value="Téc. Int. Edificações">Téc. Int. Edificações</option>
                    <option value="TADS">TADS</option>
                    <option value="Téc. Administração">Téc. Administração</option>
                </select> </div>
        </li>
        <li class="form-line form-line-column form-col-4 jf-required" data-type="control_dropdown" id="id_54"><label
                class="form-label form-label-top" id="label_54" for="input_54"> Turma<span
                    class="form-required">*</span>
            </label>
            <div id="cid_54" class="form-input-wide jf-required" data-layout="half"> <select
                    class="form-dropdown validate[required]" id="input_54" name="q54_turma" style="width:310px"
                    data-component="dropdown" required="" aria-label="Turma">
                    <option value="">Favor selecionar</option>
                    <option value="1 ano">1 ano</option>
                    <option value="2 ano">2 ano</option>
                    <option value="3 ano">3 ano</option>
                    <option value="1 período">1 período</option>
                    <option value="2 período">2 período</option>
                    <option value="3 período">3 período</option>
                    <option value="4 período">4 período</option>
                    <option value="5 período">5 período</option>
                    <option value="6 período">6 período</option>
                    <option value=""></option>
                </select> </div>
        </li>
        <li id="cid_66" class="form-input-wide" data-type="control_pagebreak">
            <div class="form-pagebreak" data-component="pagebreak">
                <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_66" type="button"
                        class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Voltar</button>
                </div>
                <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_66" type="button"
                        class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Enviar</button>
                </div>
                <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_66"></div>
            </div>
        </li>
    </ul>
</body>

</html>