<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="alternate" type="application/json+oembed"
    href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
    title="oEmbed Form">
  <link rel="alternate" type="text/xml+oembed"
    href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231488444464665"
    title="oEmbed Form">
  <meta property="og:title" content="Protocolar">
  <meta property="og:url" content="https://form.jotform.com/231488444464665">
  <meta property="og:description" content="Please click the link to complete this form.">
  <meta name="slack-app-id" content="AHNMASS8M">
  <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
  <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
  <script>
    var favicon = document.querySelector('link[rel="shortcut icon"]');
    window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
    if (favicon && window.isDarkMode) {
      favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
    }
  </script>
  <link rel="canonical" href="https://form.jotform.com/231488444464665" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
  <meta name="HandheldFriendly" content="true" />
  <title>Protocolar</title>
  <style type="text/css">
    @media print {
      .form-section {
        display: inline !important
      }

      .form-pagebreak {
        display: none !important
      }

      .form-section-closed {
        height: auto !important
      }

      .page-section {
        position: initial !important
      }
    }
  </style>
  <link type="text/css" rel="stylesheet"
    href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42692&themeRevisionID=63763808623532087895e4de" />
  <link type="text/css" rel="stylesheet"
    href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42692" />
  <link type="text/css" rel="stylesheet"
    href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42692" />
  <style src="./css/styles.css" type="text/css" id="form-designer-style"></style>

  <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42692" type="text/javascript"></script>
  <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42692" type="text/javascript"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
  <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42692" type="text/javascript"></script>
  <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42692" type="text/javascript"></script>
  <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42692"
    type="text/javascript"></script>
  <script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42692" type="text/javascript"></script>
  <script scr="./js/scripts/script.js" type="text/javascript"></script>
</head>
<body>
    <ul class="form-section page-section">
        <li class="form-line jf-required" data-type="control_dropdown" id="id_61"><label
            class="form-label form-label-top" id="label_61" for="input_61"> Selecione a opção que se encaixa na sua
            contestação:<span class="form-required">*</span> </label>
          <div id="cid_61" class="form-input-wide jf-required" data-layout="half"> <select
              class="form-dropdown validate[required]" id="input_61" name="q61_selecioneA" style="width:310px"
              data-component="dropdown" required="" aria-label="Selecione a opção que se encaixa na sua contestação:">
              <option value="">Favor selecionar</option>
              <option value="Falta de professor(a);">Falta de professor(a);</option>
              <option value="Falta de materiais para estudo;">Falta de materiais para estudo;</option>
              <option value="Subir tempo de aula;">Subir tempo de aula;</option>
              <option value="Troca de aulas que não estavam previstas no calendário acadêmico;">Troca de aulas que não
                estavam previstas no calendário acadêmico;</option>
              <option value="outros;">outros;</option>
            </select> </div>
        </li>
        <li class="form-line" data-type="control_textbox" id="id_100"><label
            class="form-label form-label-top form-label-auto" id="label_100" for="input_100"> Outros: </label>
          <div id="cid_100" class="form-input-wide" data-layout="half"> <input type="text" id="input_100"
              name="q100_outros" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px"
              size="310" data-component="textbox" aria-labelledby="label_100" /> </div>
        </li>
        <li class="form-line jf-required" data-type="control_textarea" id="id_60"><label
            class="form-label form-label-top form-label-auto" id="label_60" for="input_60"> Digite sua contestação a
            seguir:<span class="form-required">*</span> </label>
          <div id="cid_60" class="form-input-wide jf-required" data-layout="full"> <textarea id="input_60"
              class="form-textarea validate[required]"  value="Floudase" name="q60_digiteSua" style="width:648px;height:163px"
              data-component="textarea" required="" aria-labelledby="label_60"></textarea> </div>
        </li>
        <li style="clear:both"></li>
        <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
        <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_66" type="button"
            class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Enviar</button>
        </div>
    </ul>
    <script src="../js/scripts/request.js"></script>
</body>